@import "tailwindcss";

@font-face {
  font-family: "MonstBold";
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MonstReg";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}